body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b4664;
}
.calculator{
    width: 50%;
    height: 500px;
    background-color: #F9DBBA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 12px #091230,
                -7px -7px 12px #091230;
}

.calc-tittle{
    width: 100%;
    display: flex;
    margin-block: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.theme-toggle{
    display: flex;
    height: 30px;
    width: 110px;
    justify-content: center;
    align-items: center;
    background-color: #181f32;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.toggle-option{
    flex: 1;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    position: relative;
    font-weight: bold;
    color: white;
    padding: 15px;
}

input[type="radio"]{
    display: none;
}

.toggle-indicator
{
    position: absolute;
    background-color: orangered;
    width: 33.33%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease;
}

#theme-toggle-1:checked ~ .toggle-indicator {
    transform: translateX(0%);
}

#theme-toggle-2:checked ~ .toggle-indicator {
    transform: translateX(100%);
}

#theme-toggle-3:checked ~ .toggle-indicator {
    transform: translateX(200%);
}

#theme-toggle-1:checked ~ .toggle-container label[for="theme-toggle-1"],
#theme-toggle-2:checked ~ .toggle-container label[for="theme-toggle-2"],
#theme-toggle-33:checked ~ .toggle-container label[for="theme-toggle-3"] {
    color: white;
}


.calc-input #screen{
    width: 99%;
    height: 85px;
    text-align: right;
    font-size: 4em;
    border-radius: 8px ;
    border: none;
    outline: none;
    margin: 2px 0;
    background-color: #181f32;
    color: white;
}

.calc-container{
    width: 100%;
    height: auto;  
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #181f32;
    border-radius: 8px;
}

.calc-container .row button{
    width: 105px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    background-color: #F5EDED;
    box-shadow: 0px 3.5px #ECCA9C;
} 

.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
        inset -5px -5px 8px #fff;
    background: #fff;
}

#eval {
    background-color: orangered;
    color: white;
}

#clear-button,
#backspace-btn{
    background-color: #74512D;
    color: white;
}


@media only screen and (max-width: 425px){
    .calculator{
        width: 100%;
        height: 100%;

    }

    .calc-container{
        padding: 10px;
        height: 320px;
    }
    
    .for-pc{
        display: none;
    }

    .calc-container .row button{
        width: 60px;
        height: 50px;
        margin: 1px 1px;
        padding-block: 20px;
        font-size: 14px;
        box-shadow: none;
        border : 1px solid black;
    }

    .calc-input #screen{
        height: 250px;
        text-align: right;
    }
}

/* @media only screen and (max-width: 425px){
    .calculator{
        width: 100%;
    }

    .calc-container{
        padding: 0;
    }

    .calc-container .row button{
        width: 50px;
        height: 50px;
        margin: 1px 1px;
        font-size: 14px;
        box-shadow: none;
        border : 1px solid black;
    }

    .calc-input #screen{
        height: 250px;
        text-align: right;
    }
} */
